---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
		<p>New articles can be subnmitted via 
<a href="https://github.com/mlcommons-science/mlcommons-science.github.io/tree/main/content/blog"> GitHub </a>. Once approved they will be shown on this Web Site.
	</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
